.apiresponses__container {
  display: grid;
  gap: 2em;
  height: 100%;
  max-height: 100vh;
  overflow: scroll;
  .apiresponse__header {
    width: 100%;
    min-height: 58px;
    background: #1a66f3;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.043);
    //#222634
    color: #ffffff;
    padding: 1.5em;

    h4 {
      font-weight: 500;
    }
  }
}

.apiresponse-print {
  margin-top: 1em;
  font-size: 13px;
  background-color: #0d1636;
  color: #acbeaf;
  padding: 0.5em;
  height: 40vh;
  overflow-y: scroll;
}
