* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Quicksand", sans-serif;
}

body {
  background: rgba(42, 49, 61);
}

.container {
  display: grid;
  place-items: center;
  min-height: 100vh;
  height: 100%;
}
