.networktab__container {
  max-width: 654px;
  width: 100%;
  background: #0f141f;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.043);
  border-radius: 6px;
  min-height: 380px;
  padding: 2em;
  display: grid;

  .networktab--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    margin-bottom: 2em;
    padding-bottom: 2em;

    h2 {
      display: flex;
      align-items: center;
      gap: 0.5em;
      font-weight: 500;
      font-size: 0.98rem;
      line-height: 2rem;
      color: #fff;

      span {
        background-color: white;
        color: #0f141f;
        display: grid;
        place-items: center;
        padding: 0.2em;
        cursor: pointer;
      }
    }

    h3 {
      font-weight: 500;
      font-size: 0.9rem;
      line-height: 2rem;
      color: #fff;
    }
  }

  p {
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 2rem;
    color: #45484f;
  }

  .networktab {
    display: grid;
    gap: 1em;
    margin-top: 2em;
    .networktab--grid {
      width: 100%;
      background: #0f141f;
      border: 1px solid gray;
      border-radius: 6px;
      padding: 0.5em 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      height: 80px;
      cursor: pointer;

      .networktab--grid--left {
        display: flex;
        gap: 0.4em;
        align-items: center;

        img {
          width: 20px;
          height: auto;
        }
      }

      .networktab--grid--right {
        display: flex;
        align-items: center;
        gap: 1em;
      }
    }
  }
}

//asset styling

.searchinput {
  position: relative;
  height: 42px;
  input {
    width: 100%;
    height: 42px;
    padding: 0 2em;
    border: 1px solid gray;
    color: #fff;
    background: none;
    border-radius: 6px;
    outline: none;
  }

  svg {
    position: absolute;
    left: 0.5em;
    top: 50%;
    transform: translateY(-50%);
  }
}

.asset__format {
  display: flex;
  gap: 5rem;
  align-items: center;

  .asset__format--left {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
}

.networktab--spinner {
  display: grid;
  place-items: center;
}
